body {
  font-size: 16px;
  background: #84734a;
}

h1 {
  margin: 0;
  text-align: center;

  line-height: normal;
  font-size: 8em;
  font-weight: normal;
  font-family: 'Russo One', sans-serif;
}

.sub-title {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: normal;
  font-size: 2em;
  text-align: center;
  background: #decea5;
}

.bright-title {
  color: #decea5;
}
.darker-title {
  color: #635128;
}