.main-navigation {
	clear: both;
	float: none;
	display: table;
	width: 100%;

  background: rgba(79,61,26,0.15);
  font: {
    size: 1.15em;
    family: 'Jura', sans-serif;
    }
  text: {
    align: center;
    shadow: 0 0 5px rgba(255,255,255,0.5);
    }

  ul {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
        background: #ECE3CC;
        border-radius: 0;

        &:first-child {
          border-top-right-radius: 5px;
          }
        &:last-child {
          border: {
            bottom-left-radius: 5px;
            bottom-right-radius: 5px;
            bottom: 1px solid rgb(79,61,26);
            }
          }

        &:hover > ul,
				&.focus > ul {
					left: 100%;
        box-shadow: 0 -5px 0px 0px #e35e10;
				}
			}

			a {
        display: block;
				width: 200px;
        color: rgb(32,30,26);
        text-shadow: 0 0 5px rgba(0,0,0,0.25);
        }

			:hover > a,
			.focus > a {
        color: white;
        }

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: -1px;
		}
	}

	li {
		float: none;
		position: relative;
    display: inline-table;
    padding: 0 1%;
    margin: 0 0.5%;
    
    background: rgb(222,206,165);
    border: {
      top-left-radius: 5px;
      top-right-radius: 5px;
      top: 1px solid rgba(190,183,172,0.25);
      }

    &:hover {
      background: rgb(227,94,16);
      border-top: 1px solid rgba(190,183,172,0.25);
      }

    &:hover > a,
		&.focus > a {
      color: white;
		  }
	}

	a {
		display: block;
    color: rgb(32,30,26);
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
