.main-navigation {
	clear: both;
	float: none;
	display: table;
	width: 100%;

  background: rgba(79,61,26,0.15);

  ul {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;

		ul {
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

      box-shadow: 5px 5px 15px 0px $cream-deep;//rgba(0,0,0,0.5);
      border-radius: 5px;

			ul {
				left: -999em;
				top: 0;
			}

			li {
        background: #ECE3CC;
        border-radius: 0;
        @include transition(0.15s);

        &:first-child {
          border-top-right-radius: 5px;
          }
        &:last-child {
          border: {
            bottom-left-radius: 5px;
            bottom-right-radius: 5px;
            }
          }

        &:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
        display: block;
				width: 200px;
        @include transition(0.15s);
        }

			:hover > a,
			.focus > a {
      }

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: -1px;
		}
	}

	li {
		float: none;
		position: relative;
    display: inline-table;
    padding: 0 1%;
    margin: 0 0.5%;
    
    background: rgb(222,206,165);
    border: {
      top-left-radius: 5px;
      top-right-radius: 5px;
      top: 1px solid rgba(190,183,172,0.25);
      }
    @include transition(0.15s);

    &:hover {
      background: rgb(227,94,16);
      border-top: 1px solid rgba(190,183,172,0.25);
      }

    &:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
    }

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.post-navigation {
  padding: 1%;
  font-size: 1.25em;
  font-family: 'Jura', sans-serif;
  background: $cream-mid;
  a {
    margin: auto;
    text-shadow: 0 0 5px rba(0,0,0,0.5);
  text-decoration: none;
    text-align: center;
    width: 98%;
    background: $cream-deep;
    display: block;
    color: white;
    
    &:hover {
      background: $orange-mid;
    }
    }
  }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: table;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
