.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;

  border: 1px solid rgb(222,206,165);
  background: repeating-linear-gradient(90deg, #9c8c63 2px, #9c8463 5px);
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.site-header {

  border: {
    bottom: 1px solid rgb(222,206,165);
    }
  box-shadow: 0 1px 0 rgb(79,61,26);
  background: rgb(132,115,74) url(corsica-crop-h360.jpg) fixed no-repeat center 0;
  }

.site-branding {
  height: 250px;
  text-align: center;
  }

.site-title {
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
  margin: 0;
  padding: 0;

  a {
    color: rgb(222,206,165);
    text-decoration: none;
    text-shadow:
      2px 2px 0 rgb(132,115,74),
      3px 3px 0 rgba(222,206,165,0.25);
    }
  }
.site-description {
  margin: 0;
  padding: 0;
  font-weight: bolder;
  font-size: 2em;
  font-family: 'Ubuntu', sans-serif;
  color: white; //rgb(79,61,26);
  //background: rgba(255,255,255,0.05);
  background: rgba(79,61,26,0.25);
  text-shadow: 0 0 5px rgba(255,255,255,0.35);
  }

// Entry

.entry-title {
  font-size: 1.5em;
  background: transparent; // rgb(222,206,165);
  color: black;
  margin: 0;

  font-family: 'Jura', sans-serif; //'Ubuntu', sans-serif;
  }

.content-area {
    margin-top: 0.75%;
  padding: {
    left: 0.5%;
    right: 1%;
    }
  }

.entry-content {
  margin: 0!important; // Check this later!
  padding: 1%;
  background: linear-gradient(to bottom, rgb(125,91,49), rgb(227,94,16));
  border: 1px solid rgb(222,206,165);
  
  p {
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    }
  }

.hentry {
  background: rgb(222,206,165);
  border: 1px solid black;
}