h3 {
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 2px;
}

blockquote {
  font-size: 1.5em;
  font-family: 'Jura', sans-serif;
  }

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
  }

.site-branding {
  text-align: center;
  }

.site-title {
  font: {
    family: 'Russo One', sans-serif;
    size: 3em;
    }
  line-height: 75px;

  a {
    color: $cream-light;
    text: {
      decoration: none;
      shadow:
        0 0 10px rgba(79,61,26,0.5),
        1px 1px 0 rgba(79,61,26,1);
      }

    &:hover {
      color: $white-fresh;
      }
    
    &:visited {
      color: $cream-light;
      }
    }
  } // .site-title

.site-description {
  line-height: 1.25;
  font: {
    size: 1.5em;
    family: 'Ubuntu', sans-serif;
    }
  text-shadow: 0 0 5px rgba(0,0,0,0.75);
  color: $white-fresh;
  }

.main-navigation {
  font: {
    size: 1.15em;
    family: 'Jura', sans-serif;
    }

  text: {
    align: center;
    shadow: 0 0 5px rgba(255,255,255,0.5);
    }
  
  ul {
    a {
      color: rgb(32,30,26);
      text-shadow: 0 0 5px rgba(0,0,0,0.25);
      }

    :hover > a,
    .focus > a {
      color: white;
      }
    }
  
  li {
    &:hover > a,
		&.focus > a {
      color: white;
		  }
    }

  a {
    color: rgb(32,30,26);
    text-decoration: none;
    }
  } // .main-navigation

.page-header {
  > h1 {
    font-family: 'Jura', sans-serif;
    color: $white;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 1;
    }
  }

.text-highlight {
  font-size: 0.9em;
  }

.title-highlight {
  text-shadow: 0 0 5px $black;
  }

.hi-lite-title { color: $black; }

.hi-lite-content { color: $white; }

.text-mono {
  font-family: monospace;
  color: $grey-light;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

.text-midsize { font-size: 1.25em; }

.text-cream { color: $cream-lightest; }

.text-question {
  color: $cream-lightest;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

.text-pzs {
  background: $orange-bright;
  font-family: monospace;
  color: $black;
  box-shadow: 0 0 5px rgba(0,0,0,0.35);
  border-radius: 3px;
  padding: 0 0.25%;
  margin-right: 0.5%;
  }

.letoltes {
  text-decoration: none;
  color: $black;
  }

.entry-title {
  font: {
    size: 1.25em;
    family: 'Jura', sans-serif;
    }
  color: rgb(32,30,26);
    //text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.15);
  letter-spacing: 2px;

  > a {
    display: block;
    text-decoration: none;
    color: $black;

    &:visited {
      color: $grey-deep;
      }

    &:hover {
      color: $orange-bright;
      }
    }
  }

.entry-content {
  p {
    line-height: 1.75em;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 2px rgba(0,0,0,0.5);
    }

  .more-link {
    color: $grey-deep;
    background: $white;
    border-radius: 5px;
    padding: 0.25% 1%;
    font-size: 1.15em;
    font-weight: bolder;
    font-family: 'Jura',sans-serif;
    text-shadow: none;
    text-decoration: none;
      text-shadow: 0 0 5px rgba(0,0,0,0.15);
    @include transition(0.15s);
      box-shadow: 0 0 5px rgba(0,0,0,0.25);
    
    &:hover {
      color: $white;
      background: $orange-light;//cream-deep;
      }
    }

  a:not(.letoltes) {
    color: white;
    text-decoration: none;

    &:hover {
      background: $white;
      color: $black;
      }
    }
  }

.entry-summary {
  font-family: 'Ubuntu', sans-serif;
  color: $brown-deep;
  text-shadow: 0 0 5px rgba(0,0,0,0.15);
  }

.site-footer {
  color: $white;
  text: {
    align: center;
    shadow: 0 0 5px rgba(0,0,0,0.5);
    }
  font: {
    family: 'Jura', sans-serif;
    size: 1.15em;
    }

  a {
    color: $white-fresh;
    text-decoration: none;
    }
  }

@import "headings";

@import "copy";