.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
  background: rgb(222,206,165);
  color: black;
  border: {
    top: 1px dotted #9c8c63;
    bottom: 1px dotted #9c8c63;
  }
}