// Custom color list

$white: rgb(246,246,244);
$white-fresh: rgb(236,227,204);

$cream-light: rgb(222,206,165);
$cream-mid: rgb(159,138,101);
$cream-deep: rgb(132,115,74);

$borwn-bright: rgb(125,91,49);
$brown-mid: rgb(99,81,40);
$brown-deep: rgb(79,61,26);

$orange-bright: rgb(227,94,16);
$orange-mid: rgb(165,99,40);
$orange-light: rgb(225,148,100);

$grey-light: rgb(190,183,172);
$grey-mid: rgb(128,128,129);
$grey-deep: rgb(82,81,79);

$black: rgb(32,30,26);



$color__background-body: $cream-deep;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $orange-mid;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: rgb(246,246,244);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;